doctype html
html
  head
    title Flipper
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 Flipper
      block header
        header#mainNav
          ul#mainNav
            li#mainNav
              a(href='/') Home
            li#mainNav
              a(href='/api/cards') Add
            li#mainNav
              a(href='/api/decks') Decks
            //-a(href='/api/study') Study
            li#mainNav
              a(href='#') Account 
            li#mainNav
              a(href='/api/signup') Sign up
            li#mainNav
              a(href='/api/signup/logout') Log out
      block content
          
  footer
    main
      block footer
        footer.footer 
          content Copyright &copy2019 Alex Taylor, Birkbeck University, London
