extends default

block content
  div.container
    h3.pageTitle
        | Add Card
    p.subHeadingCSV
        a(href='/api/upload' class="w3-bar-item w3-button") Upload file 
        | (use a csv file to make multiple cards at once)
  div.addFormGroup
    form(method='post' action='/api/cards' enctype='multipart/form-data')
      div.addFormGroup 
        label(for="deck") Deck: <br>
        input#deck.form-control(input name="deck" type='text', placeholder='Deck name')
      div.addFormGroup 
        label(for="question") Front: <br>
        input#front.form-control(autosize="true" input name="question", placeholder='Front of the card')
        input#deck.form-control(input type='file' name='name')
      div.addFormGroup 
        label(for='back') Back: <br>
        input#back.form-control(input name="answer" type='text', placeholder='Back of the card')
      div.addFormGroup 
        label(for='tags') Tags: <br>
        input#tags.form-control(input name="tags" type='text', placeholder='Any tags')
      button.btn.btn-primary(type='submit') Create Card
    