extends default

block content
  div.deckContainer
    h3.deckContainer.pageTitle
        | Decks 
    p.container.subHeading Select one to study 
    form(method='post' action='/api/decks/info')
      ul 
        each item in deck
            ol#DeckList 
              button.btn.btn.decks(type='submit', name='deck', value=item.name) #{item.name}
    p #{noDeckMessage}