extends default

block content
  div.mainArea
    block.welcomeText 
      p     
        | Welcome to Flipper. <br>
      p 
        | <br> 
      p 
        | Flipper lets you create your own flashcards, 
        | and stops the things you want to remember 
        | fading from memory. 
      p 
        | <br>
      p 
        | With this you can forget about forgetting.
      p 
        | <br>
      p 
        | Sign in, or register an account and let's begin. 
    
    div.signIn 
      div.container
        h3.container 
            | Sign in 
      div.container
        form(method='post' action='/api/signup/login')
          div.form-group
            label(for="username") Username: <br>
            input#username.form-control(input name="username" type='text', placeholder='Your username')
          div.form-group
            label(for="password") Password: <br>
            input#password.form-control(input name="password" type='password', placeholder='Your password')
          button.btn.btn-primary(type='submit') Sign in  
  