extends default

block content
  div.container
    h3.pageTitle
        | File uploaded successfully!
    p 
        | We have created #{cards} new cards from your csv file!
        | They are ready to study when you are! 
    