doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 #{title}
      block content
    nav.mainNav 
      div.container 
        div.navLink 
          ul 
            a(href='/api/cards') Add
            a(href='/api/cards') Add
  footer
    main
      block footer
        footer.footer 
          content Copyright &copy2019 Alex Taylor, Birkbeck University, London
