doctype html
html
  head
    title Mempro
    link(rel='stylesheet', href='/css/test.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

block content 
    div.mainArea 
        div.containterLeft 
            p welcome 
    

