extends default

block content
  div.container
    h3.deck-name 
        | Main
    p This is the question:  #{Question}
    p This is the answer: #{Answer}
  form(method='post' action='/api/study')
      // name section of the buttons below is passed in body of html request 
      // can be accessed in .get and .post etc as req.body.NAME 
      button.btn.btn-primary(type='submit', name='difficulty', value='0') Don't know
      button.btn.btn-primary(type='submit', name='difficulty', value='1') Hard
      button.btn.btn-primary(type='submit', name='difficulty', value='2') Good 
      button.btn.btn-primary(type='submit', name='difficulty', value='3') Easy 
      