extends default

block content
  div.container
    h3.deck-name 
        | Main
    p This is the question:  #{Question}
    p This is the answer: #{Answer}
  form(method='post' action='/api/study')
      button.btn.btn-primary(type='submit') Good 